.account-payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.account-payment__details {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}