.contacts {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  background: url(https://i.ibb.co/L8KRk2Q/Group-62.png) center center;
}


.contacts__element {
  min-width: 300px;
}



.contacts__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7)
}

.contacts__text {
  display: flex;
  flex-direction: column;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  * {
    margin-top: 10px;
  }
}

.contacts__socials {
  color: rgba(0, 0, 0, .7);
  display: flex;
  a {
    margin-right: 25px;
    color: rgba(0, 0, 0, .7);
    font-size: 22px;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    flex-direction: column;
    padding: 0;
  }

  .contacts__element {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
