body {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-style: normal;
}


// faq overwrites
.cd-header {
  background: #7741a7;
}

.cd-faq__trigger {
  color: #7741a7;
}

// bootrap overwrites
.nav-item, .nav-link {
  color: rgba(0, 0, 0, .8) !important;
}


.background--white {
  background: white;
}