.supporters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.supporters__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}

.supporters__list {
  margin: 15px;
}

.supporters__element {
  margin-top: 25px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  opacity: 0.7;
}