.support-banner{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 400px;
  background-image: url('https://res.cloudinary.com/dhcba8amn/image/upload/v1571655961/DSC_3432_pvtdot.jpg');
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  .support-banner__text {
  }

  .support-banner__main-title {
    margin-left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFE500;
  }

  .support-banner__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
}

.support-banner__message {
  font-family: Roboto;
  width: 60%;
  min-height: 180px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.35) 100%);
  display: flex;
  align-items: center;
}

.support-banner__lily-wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  background: #221131;
  justify-content: center;
}

.support-banner__lily {
  width: 100%;
  height: 220px;
  background-image: url('https://res.cloudinary.com/dhcba8amn/image/upload/v1571655743/logo_njcnjk.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 968px) {
  .support-banner__message {
    width: 100%;
    //height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .support-banner__lily {
    order: 1;
      width: 90%;
      height: 200px;
      background-image: url('https://res.cloudinary.com/dhcba8amn/image/upload/v1571655743/logo_njcnjk.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  .support-banner__text {
    order: 2;
  }
}