.support-banner{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 400px;
  background-image: url('https://res.cloudinary.com/dhcba8amn/image/upload/v1571404652/promotion_image_pifoi3.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .support-banner__message {
    width: 60%;
    min-height: 180px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.35) 100%);
    display: flex;
    align-items: center;
  }

  .support-banner__text {
  }

  .support-banner__main-title {
    margin-left: 50px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFE500;
  }

  .support-banner__subtitle {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  .support-banner__lily {

  }
}

@media screen and (max-width: 768px) {
  .support-banner__message {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .support-banner__lily {
    order: 1;
  }

  .support-banner__text {
    order: 2;
  }
}